In [1]:
import pandas as pd
import csv
import warnings
warnings.filterwarnings('ignore') # Disable warnings for now

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from math import sqrt

In [2]:
df_budget = pd.read_csv("../data/Expense_Budget.csv")

In [3]:
df_trans = pd.read_csv("../data/Trans2.csv")
df_trans.head()

       Entity  Account        Date                Description      Amount
0  100-100001    41101  07/01/2012   Record PY prpd txs as CY  -116018.63
1  100-100001    41103  07/01/2012   Record PY prpd txs as CY -1343129.12
2  100-100001    41201  07/01/2012  accrue sales&use tax 7/16  1901125.37
3  100-100001    41202  07/01/2012  accrue sales&use tax 7/16   866051.86
4  100-100001    41203  07/01/2012  accrue sales&use tax 7/16   575521.51

In [4]:
# Remove negative transactions
df_trans = df_trans[df_trans["Amount"]>0]

In [5]:
# Convert the dates from strings to datetimes
# TODO: Figure out how to do this faster and without Python crying
df_trans["Date"] = pd.to_datetime(df_trans["Date"])
df_trans["Year"]= df_trans.Date.dt.year
df_trans["Month"]= df_trans.Date.dt.month

df_trans = df_trans.drop(columns=["Year", "Description"])
df_trans.head()

AttributeError: 'Series' object has no attribute 'year'

In [ ]:
# LinearRegression for each entity
# models = {} # Dictionary which maps entity to its model

# df_trans[df_trans["acct_num"]]
for entity in sorted(df_trans["Entity"].unique()):
    df_entity = df_trans[df_trans["Entity"]==entity]
    df_entity.drop(columns=["Entity"])

    x = df_entity.drop(columns=["Amount"], axis=1)
    y = df_entity["Amount"]

    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

    model = LinearRegression(normalize=True)
    model.fit(x_train, y_train)

    # models[entity] = model

    # Model evaluation
    y_pref = model.predict(x_test)
    y_val = model.predict(x_train)

    print("[{}]".format(entity))
    print("\tTraining set RMSE: {0:.3g}".format(sqrt(mean_squared_error(y_train, y_val))))
    print("\tTraining set R2: {0:.3g}".format(lin_reg_model.score(x_train, y_train)))

    # Testing set model evaluation
    print("\tTesting set RMSE: {0:.3g}".format(sqrt(mean_squared_error(y_test, y_pred))))
    print("\tTesting set R2: {0:.3g}".format(lin_reg_model.score(x_test, y_test)))