In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib
import csv
import warnings
import seaborn as sns
warnings.filterwarnings('ignore') # Disable warnings for now
%matplotlib inline

In [3]:
df_trans = pd.read_csv("../data/Trans2.csv")
df_trans.head()

       Entity  Account        Date                Description      Amount
0  100-100001    41101  07/01/2012   Record PY prpd txs as CY  -116018.63
1  100-100001    41103  07/01/2012   Record PY prpd txs as CY -1343129.12
2  100-100001    41201  07/01/2012  accrue sales&use tax 7/16  1901125.37
3  100-100001    41202  07/01/2012  accrue sales&use tax 7/16   866051.86
4  100-100001    41203  07/01/2012  accrue sales&use tax 7/16   575521.51

In [4]:
# Remove negative transactions
df_trans = df_trans[df_trans["Amount"]>0]

In [5]:
# Convert the dates from strings to datetimes
# TODO: Figure out how to do this faster and without Python crying
df_trans["Date"] = pd.to_datetime(df_trans["Date"])
df_trans["Year"]= df_trans.Date.dt.year
df_trans["Month"]= df_trans.Date.dt.month

df_trans = df_trans.drop(columns=["Date", "Description"])
df_trans.head()

       Entity  Account      Amount  Year  Month
2  100-100001    41201  1901125.37  2012      7
3  100-100001    41202   866051.86  2012      7
4  100-100001    41203   575521.51  2012      7
5  100-100001    41204     1378.89  2012      7
6  100-100001    41212   304822.42  2012      7

In [ ]:
# df_trans['Entity'].value_counts()

In [ ]:
# LinearRegression for each entity
# models = {} # Dictionary which maps entity to its model

for entity in sorted(df_trans["Entity"].unique()):
    df_entity = df_trans[df_trans["Entity"]==entity]
    df_entity = df_entity.drop(columns=["Entity"])

    x = df_entity.drop(columns=["Amount"], axis=1)
    y = df_entity["Amount"]

    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

    model = LinearRegression(normalize=True)
    model.fit(x_train, y_train)

    # models[entity] = model

    # Model evaluation
    y_pred = model.predict(x_test)
    y_val = model.predict(x_train)

    print("[{}]".format(entity))
    print("\t{} - {}".format(len(x), len(y)))
    print("\tTraining set RMSE: {0:.3g}".format(sqrt(mean_squared_error(y_train, y_val))))
    print("\tTraining set R2: {0:.3g}".format(model.score(x_train, y_train)))
    print("\tTesting set RMSE: {0:.3g}".format(sqrt(mean_squared_error(y_test, y_pred))))
    print("\tTesting set R2: {0:.3g}".format(model.score(x_test, y_test)))

In [7]:
from sklearn.cross_validation import train_test_split

/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [9]:
X = df_trans[[u'Entity', u'Account', u'Year',u'Month']]
# X = df[['Amount','Year','PerCapita']]
y= df_trans[u'Amount']

In [10]:
df_trans.columns

Index([u'Entity', u'Account', u'Amount', u'Year', u'Month'], dtype='object')

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=101)

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
lm = LinearRegression()

In [19]:
# lm.fit(X_train, y_train)

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dtree = DecisionTreeClassifier()

In [ ]:
dtree.fit(X_train, y_train)

In [ ]:
dtree.fit(X_train, y_train)